@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

@font-face {
  font-family: 'MuseoCyrlRegular';
  src: url(~@/assets/fonts/MuseoCyrlRegular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrlMedium';
  src: url(~@/assets/fonts/MuseoCyrlMedium.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoCyrlBlack';
  src: url(~@/assets/fonts/MuseoCyrlBlack.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
